@model IEnumerable<CMSArticle.Views.ViewModel.ArticleViewModel>

@{
    ViewBag.Title = "مقالات";
}
<br />
<h2>لیست کامل مقالات موجود</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            نویسنده
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Like)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th>
            دسته بندی
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @item.user.Name @item.user.Family
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            <img src="~/Images/Article/@item.ImageName" class="image150-100" />
        </td>
        <td>
            @if (item.IsActive)
            {
                <span style="color:green">منتشر شده</span>
            }
            else
            {
                <span style="color:red">منتشر نشده</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Like)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visit)
        </td>
        <td>
            @item.category.Title
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.ArticleId }, new { @class = "btn btn-warning" }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.ArticleId }, new { @class = "btn btn-primary" }) |*@
            @Html.ActionLink("حذف", "Delete", new { id = item.ArticleId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("ایجاد مقاله جدید", "Create","", new { @class = "btn btn-success" })
</p>