@model CMSArticle.Views.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "ایجاد دسته بندی";
}

<h2>مشخصات دسته بندی جدید را وارد نمایید:</h2>
<br />
<br />
<br />

@using (Html.BeginForm("Create","Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Images/Category/nophoto.png" class="image150-100 form-control" id="newImagePreview"><br />
                <input type="file" class="form-control" name="newImage" id="imageUpload" onchange="imagePreview(this)" value="nophoto.png" />
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                <input type="button" value="Back to list" class="btn btn-default btn-info" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    </div>
}
<script>
    function imagePreview(input) {
    }
    filerdr.readAsDataURL(input.files[0]);
    if (input.files && input.files[0]) {
        var filerdr = new FileReader();
        filerdr.onload = function (e) {
            jQuery('#newImagePreview').attr('src', e.target.result);
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
