@model IEnumerable<CMSArticle.Views.ViewModel.CategoryViewModel>

@{
    ViewBag.Title = "دسته بندی ها";
}

<h2>لیست دسته بندی ها</h2>
<br />
<br />
<input type="button" value="ایجاد دسته بندی جدید" class="btn btn-default btn-success" onclick="location.href='@Url.Action("Create")'" />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="~/Images/Category/@item.ImageName" class="image150-100" />
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("جزییات", "Details", new { id = item.CategoryId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }


</table>


